.movie-container {
  min-width: 320px;
  max-width: 600px;
  margin: auto;
}

.poster-container {
  width: 100%;
  img {
    width: 150px;
  }
}

.featured-photo-container {
  mat-form-field {
    width: 85%;
  }
}

.movie-form {
  display: flex;
  flex-direction: column;
}

.movie-form > * {
  width: 100%;
}

