<div class="movie-container">
  <div class="poster-container">
      <img src="{{ movie.featured_photo }}"
            onerror="this.onerror=null;this.src='./assets/images/image-fallback.png';"/>
  </div>
  <div class="movie-form">
    <div class="featured-photo-container mt-10">
      <mat-form-field>
        <input #featuredPoster
              matInput
              placeholder="Featured Poster"
              [value]="movie.featured_photo">
      </mat-form-field>
      <button mat-icon-button
              matTooltip="Update featured poster"
              (click)="updateMoviePoster(featuredPoster.value)">
        <mat-icon color="primary">add_photo_alternate</mat-icon>
      </button>
    </div>
      <mat-form-field>
        <input matInput
                placeholder="Title"
                [(ngModel)]="movie.title"
                [value]="movie.title"
                required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput
                  placeholder="Synopsis"
                  rows="10"
                  [(ngModel)]="movie.synopsis"
                  [value]="movie.synopsis"
                  required>
        </textarea>
      </mat-form-field>
    </div>
    <div class="action-btns">
      <button class="m-10" mat-button routerLink="/movies">BACK</button>
      <button class="m-10"
              mat-raised-button
              color="primary"
              (click)="updateMovie()">EDIT</button>
    </div>
</div>
