<mat-list>
    <mat-list-item>
      <div class="movie-thumbnail">
        <a target="_blank" href="https://www.movieposter.com/posters/archive/main/19/MPW-9746.jpg">
          <img src="https://www.movieposter.com/posters/archive/main/19/MPW-9746.jpg" alt="Movie Poster">
        </a>
      </div>
      <div class="movie-info">
        <h1>Movie Title</h1>
        <h3>Date Added: June 23, 1995</h3>
        <h3>Synopsis:</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea dolorem modi numquam a in iste sequi, veritatis omnis praesentium obcaecati tempora nesciunt consequatur voluptate laudantium iure, ullam cum ad adipisci.
        </p>
        <div class="action-btn">
         <ul>
           <li>
              <a mat-icon-button
                 color="accent"
                 matTooltip="Remove">
                <mat-icon>delete</mat-icon>
              </a>
           </li>
           <li>
              <a mat-icon-button
                 color="primary"
                 matTooltip="View"
                 routerLink="/movies/123">
                 <mat-icon>visibility</mat-icon>
            </a>
           </li>
         </ul>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

