.movie-container {
  min-width: 320px;
  max-width: 600px;
  margin: auto;
}

.poster-container {
  width: 100%;
  // text-align: right;
  img {
    width: 150px;
  }
}

.movie-form {
  display: flex;
  flex-direction: column;
}

.movie-form > * {
  width: 100%;
}
