.movies-container {
  min-width: 350px;
  max-width: 650px;
  margin: auto;
  position: relative;
  height: 600px;
  overflow: scroll;
}

.add-btn-container {
  position: relative;
  min-width: 310px;
  max-width: 1030px;
  .add-btn {
    position: absolute;
    right: 1px;
    bottom: 0;
    margin: 10px;
    top: -160px;
  }
}
