.movies-container {
  min-width: 350px;
  max-width: 650px;
  margin: auto;
  position: relative;
  height: 80vh;
  overflow: scroll;
}

.add-btn-container {
  position: relative;
  min-width: 310px;
  max-width: 1030px;
  .add-btn {
    position: absolute;
    right: 1vh;
    bottom: 0;
    margin: 10px;
    top: -100px;
  }
}

// Media Queries
@media (min-width: 1920px) {
  .add-btn-container {
    position: relative;
    min-width: 310px;
    max-width: 1030px;
    .add-btn {
      position: absolute;
      right: -30vh;
      bottom: 0;
      margin: 10px;
      top: -100px;
    }
  }
}
