<div class="info-container">
  <mat-card>
    <mat-card-title class="text-center">
      <img src="/assets/images/angular-icon.png" width="150px"/>
      <h1>NG-Movie Inventory</h1>
    </mat-card-title>
    <mat-card-content>
      <h2>About: </h2>
      <h3>
          Keep track of all your watched movies,
          by using this awesome new web application powered by Angular.
          You can mark your added movie as your favorite or let it be just a watched movie.
      </h3>
      <h3>
          ***Take note: Static data only***
      </h3>
      <h3>
          Hoping this application may bring excitement to your movie watching journey.
          <mat-icon>directions_run</mat-icon>
          <mat-icon>weekend</mat-icon>
          <mat-icon>tv</mat-icon>
      </h3>
      <h2>Your Movies: </h2>
      <h3>Total Watched Movies: {{ totalMovies }}</h3>
      <h3>Average Favorite Movies: {{ totalLikedMovies }}/{{ totalMovies }}</h3>
    </mat-card-content>
  </mat-card>
</div>
